:root {
    --red: red;
}

































































footer{
    background-color: gray;
}

body header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: wavy;
}

main.main-content {
    background-color: antiquewhite;
    padding: 1.25rem;
    box-shadow: 2px 2px 4px #000;
}

a {
    text-decoration: underline;
    color: blue;
    
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

header nav div a {
    display: inline;
    margin-top: 0 1 rem;
}