:root {
    --wine: #722f37;
    --ebony: #555d50;
    --gold: #d4af37;
    --silver: #c0c0c0;
    --rosegold: #fddcd7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

footer{
    background-color: var(--silver);
}

body header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: wavy;
}

main.main-content {
    background-color: var(--rosegold);
    padding: 1.25rem;
    box-shadow: 2px 2px 4px #000;
}

a {
    text-decoration: underline;
    color: blue;
    
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--ebony);
    }
}

header nav div a {
    display: inline;
    margin-top: 0 1 rem;
}